/* formatando o menu */

#meu_menu {
  text-align: right;
  padding-right: 60px;
  border-bottom: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 25px;

}

#meu_menu a {
  text-decoration: none;
  color: black;
}

#meu_menu a:hover {
  background-color: #000000;
  transition: 0.5s;
  opacity: 0.7;
  color: brown;
}

.titulo {
  border-width: medium;
  border-style: solid;
  border-color: #00f;
  margin-bottom: 1rem;
  background-color: aqua;
  text-align: center;
}

#fundo {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
}


img {
  width: 30%;
}

/* formatando testo e imagem */

.master {
  display: flex;
}

.col_esquerda {
  text-align: justify;
  margin-right: 20px;
}

.col_direita {
  text-align: justify;
}

.titulo_col {
  text-align: center;
  background-color: bisque;
}